<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  </head>

  <body>

  <header> 

  <ul class="nav nav-tabs">

  <li class="nav-item p-3">
    <%= link_to "Home", "http://localhost:3000/" %>
  </li>
  <li class="nav-item p-3">
    <%= link_to "Gossip", "http://localhost:3000/gossips/" %>
  </li>

   <li class="nav-item dropdown p-3">
   
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li clas= "p-3"> <% if user_signed_in? %>
            <%= link_to current_user.email, user_path(current_user) %>
             <%= link_to "Deconexion", destroy_user_session_path, method: :delete %>
              <% else %>
             <%= link_to "Connexion", new_user_session_path %>
             <%= link_to "Inscription", new_user_registration_path %>
               <% end %></li>
            
            
          </ul>
        </li>
  </header> 

    <div class="container">

    <%= yield %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
